# Default mariadb config file

[client]
default_character_set          = utf8
port                           = 3306
#user                           = REPLACE_ROOT_USER
#password                       = REPLACE_ROOT_PASS
socket                         = /tmp/mysql.sock

[mysqld_safe]
open_files_limit               = 16384
port                           = 3306
socket                         = /tmp/mysql.sock
datadir                        = REPLACE_DATABASE_DIR
log-error                      = REPLACE_LOG_DIR/mysql.err.log

[mysqld]
open_files_limit               = 16384
max_allowed_packet             = 2048M
max_connections                = 200
max_user_connections           = 50
log_warnings                   = 2
slow_query_log                 = 1
general_log                    = 1
key_buffer_size                = 8M
default_authentication_plugin  = mysql_native_password
port                           = 3306
bind-address                   = 0.0.0.0
socket                         = /tmp/mysql.sock
datadir                        = REPLACE_DATABASE_DIR
general_log_file               = REPLACE_LOG_DIR/mysql.log
slow_query_log_file            = REPLACE_LOG_DIR/mysql.err.log
log_error                      = REPLACE_LOG_DIR/mysql.err.log

[mysql]
no_auto_rehash
max_allowed_packet             = 2048M
prompt                         = '\u@\h [\d]> '

[mysqldump]
max_allowed_packet             = 2048M
